body {
    background-image: url(../img/fondo.png);
    display: flex;
    justify-content: center;
}

#contenedor{
    width: 76%;
    max-width: 960px;
    padding: 1.8rem;
    background-color: steelblue;
}

header h1 {
    text-align: center;
    color: #06283D;
    font-family: 'Abel', sans-serif;
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

header p {
    text-align: center;
    color: white;
    font-size: 1.5rem;
}

nav ul {
    list-style: none;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

nav ul li {
    display: inline-block;
    margin: 0 2rem;
    font-size: 1.5rem;
}

nav ul li a{
    text-decoration: none;
}

nav ul li a:link {
    color: white;
} 

nav ul li a:visited {
    color: white;
} /*los cambie a color blanco*/

nav ul li a:hover {
    color: lightblue;
} /*cuando paso el mouse, cambian de color a celeste claro*/

nav ul li a:active {
    color: #06283D;
} /*cuando hago click se tendria que poner de color azul*/

/*Index - primera pagina*/
img {
    width: 75%;
    display:block;
    margin: auto;
}

blockquote {
    text-align: center;
    color: white;
    font-size: 1.3rem;
    margin-bottom: 3rem;
}

.tresColumnas{
    display:flex;
    justify-content:space-between;
}

.tresColumnas article{
    width:29%;
    background-color: #0B2C41;
    padding:1rem;
    border-radius: 0.5rem;
}

p {
    color: white;
    font-size: 1.1rem;
    line-height: 1.5rem;
}

section article h2 {
    color: #DFF6FF;
    font-family: 'Abel', sans-serif;
    border-bottom: 0.2rem solid #DFF6FF;
}

section h2 {
    color: #06283D;
    font-family: 'Abel', sans-serif;
    font-size: 1.7rem;
    border-bottom: 0.2rem solid #06283D;
    text-align: center;
}

.chalkroom {
    width: 25%;
}

.obraverde {
    width: 25%;
}

address p {
    color: white;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    margin-top:2rem;
    padding: 2rem;
    background-color: #06283D;
}

address p a {
    color: white;
}

address p a:hover {
    color: lightblue;
}

/*Obras - segunda página*/
.dosColumnas{
    display:flex;
    justify-content:space-between;
}

.izquierda{
    width:70%;
}

.derecha{
    width:30%;
}

main h2 {
    color: #06283D;
    font-family: 'Abel', sans-serif;
    font-size: 1.7rem;
    text-align: center;
    border-bottom: 0.2rem solid #06283D;
}

aside ul li {
    color: white;
    font-size: 1.1rem;
    line-height: 1.5rem;
}

#galeria article h3{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 0.3rem;
}

#galeria article p {
    text-align: center;
    padding-bottom: 2rem;
    font-size: 1.2rem;
    margin-top: 0;
}

.izquierda p {
    margin-top: 0;
}

/*Gestion - tercera página*/
button{
    padding:0.8rem;
    margin-top:1rem;
    margin-bottom:1rem;
    color: #06283D;
}

label{
    display:block;
    margin-top:1rem;
    color: #06283D;
    font-weight: bold;
}

input{
    width: 97%;
    padding:.6rem;
    margin-top:.5rem;
}

#resultados{
    background-color: #06283D;
    padding: 0.5rem;
}


